.socials__wrapper {
	width: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.socials__link-svg {
	fill:$blue;

	&--vk {
		width: 31px;
    	height: 17px;
	}

	&--gh {
		width: 26px;
    	height: 22px;
    	padding-top: 4px;
	}

	&--in {
		width: 24px;
    	height: 22px;
	}
}

.socials__link:hover .socials__link-svg {
	fill:$blueHover;
}