section.portfolio
 .portfolio__wrapper
  .portfolio__trangle-wrapper
   .portfolio__triangle
    svg.portfolio__triangle-icon(xmlns="http://www.w3.org/2000/svg", viewbox='0 0 1000 85', preserveAspectRatio="none")
     polygon.portfolio__triangle_left(fill="#0d1120" fill-opacity='.85' points="0,0 0,86 500.8,86 500.8,75.5" )
     polygon.portfolio__triangle_right( fill="#0d1120" fill-opacity='.85' points="1000,0 1000,86 500,86 500,75.5" )
   .portfolio__title
    h2.portfolio__title-text Мои работы
  include ./my-works
