section.preloader#preloader
	.preloader__wrapper
		.preloader__caption
			ul.preloader__loader-figures.preloader__loader--cube
				li.preloader__figure-item.preloader__figure-item--one
				li.preloader__figure-item.preloader__figure-item--two
				li.preloader__figure-item.preloader__figure-item--three
				li.preloader__figure-item.preloader__figure-item--four