article.socials
    ul.socials__wrapper
        li.socials__item
            a.socials__link(href='#')
                svg.socials__link-svg.socials__link-svg--vk(width = "30" height = "30")
                    use(xlink:href='svg/sprite.svg#vk' viewBox="0 0 30.011 17.123")
        li.socials__item
            a.socials__link(href='#')
                svg.socials__link-svg.socials__link-svg--gh(width = "30" height = "30")
                    use(xlink:href='svg/sprite.svg#github' viewBox="0 0 26 22")
        li.socials__item
            a.socials__link(href='#')
                svg.socials__link-svg.socials__link-svg--in(width = "30" height = "30")
                    use(xlink:href='svg/sprite.svg#in' viewBox="0 0 24 22.938")