section.welcome
	.welcome__wrapper
		.welcome__info
			include ../modules/info-user
			include ../modules/socials
		nav.welcome__nav
			.welcome__nav-wrapper
				a.welcome__nav-link(href='portfolio.html') Мои работы
				a.welcome__nav-link(href='about.html') Обо мне