// font

$fontRoboto: 'Roboto','Arial', sans-serif;
$fontWebissimo: 'sansus_webissimoregular', 'Arial', sans-serif;

// color

$blue: #0447bc;
$blueHover:#083c96;
$white: #ffffff;
$dark-blue:#474b57;
$light-blue:#004cd1;
$grey:#e3e2de;
$dark-grey:#2a2b2f;

// media

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
