mixin navigation(id,title,url,current)
  li.navigation__item 
   a.navigation__item-link(class = (id === current ? 'navigation__item-link--active' : undefined) href=(id !== current ? url : undefined))=title